In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/workspaces/Advanced-Data-Analyst-Projects/supply_chain_disruption_prediction/data/supply_chain_disruption_dataset (1).csv")

In [3]:
df.head()

,ShipmentID,Supplier,Origin,Destination,ShipmentDate,ExpectedDeliveryDate,DistanceKM,ShipmentMode,WeatherImpact,NewsSentiment,Disruption
0,5001,DeltaLogistics,Mumbai,Berlin,2024-01-01,2024-01-05,2066,Air,Low,Neutral,No
1,5002,OceanConnect,Mumbai,Berlin,2024-01-02,2024-01-06,8723,Sea,Low,Positive,Yes
2,5003,QuickShip Inc,Mumbai,New York,2024-01-03,2024-01-07,5380,Air,Low,Neutral,No
3,5004,OceanConnect,Mumbai,Berlin,2024-01-04,2024-01-08,11636,Air,Medium,Neutral,No
4,5005,OceanConnect,Delhi,Dubai,2024-01-05,2024-01-09,5107,Sea,Medium,Positive,No

In [4]:
df['ShipmentDate'] = pd.to_datetime(df['ShipmentDate'])
df['ExpectedDeliveryDate'] = pd.to_datetime(df['ExpectedDeliveryDate'])

In [5]:
print(df.isnull().sum())

ShipmentID              0
Supplier                0
Origin                  0
Destination             0
ShipmentDate            0
ExpectedDeliveryDate    0
DistanceKM              0
ShipmentMode            0
WeatherImpact           0
NewsSentiment           0
Disruption              0
dtype: int64

In [6]:
df['WeatherImpact'] = df['WeatherImpact'].fillna(0)
df['NewsSentiment'] = df['NewsSentiment'].fillna(0)
df.dropna(subset=['Supplier', 'Origin', 'Destination'], inplace=True)

In [7]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()